.game-body {
  background-color:#dceae9;
}



.title-area {
  background-image: url("../assets/title_background.jpg");
  background-position: center;
  background-size: cover;
  color: white;

}

.game-area {
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("../assets/retro_computer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.test-text {
  color: green;
  font-size: 24px;
}

.control-buttons {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.warning-panel {
  text-align: center;
  color: #e2dede;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 10px 10px 10px 10px;
  background-color: #70a2a8;

}

.warning-panel:hover {
  background-color: #cca090;
}

.warning-buttons {
  padding-bottom: 5px;
}

@keyframes animateScoreBoard {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

.scoreboard {
  border: 0.5px solid grey;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  background-image: url("../assets/scoreboard_background.jpg");
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animateScoreBoard 20s linear infinite;
}

.score {
  color: white;
  font-size: 18px;
  display: inline-block;
}

.score-1 {
  margin: 10px 0px 10px 75px;
  float: left;
}

.score-2 {
  margin: 10px 75px 10px 0;
  float: right;
}

.player-1-score {
  color: inherit;
  border: 2px solid white;
  font-size: 36px;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  float: left;
}

.player-2-score {
  color: inherit;
  border: 2px solid white;
  font-size: 36px;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  float: right;

}
